---
- name: Nettoyage
  file:
    path: "{{path_awx_tmp}}"
    state: absent
  ignore_errors: yes

- name: Install Prerequis
  apt:
    update_cache: yes
    name: "{{ item }}"
    state: latest
  loop:
    - make
    - curl
    - sudo
    - net-tools
    - git
    - build-essential
    - jq
    - python3
    - python3-pip

- name: Install Kubernetes Plugins Debian
  shell: pip3 install setuptools kubernetes --break-system-packages

- name: Création du Répertoire /.kube
  file:
    path: /root/.kube
    state: directory
    mode: '0755'

- name: Téléchargement k3s
  shell:
    cmd: "{{ item }}"
    chdir: /tmp
  loop:
    - "curl -sfL https://get.k3s.io | sudo bash -"
    - "chmod 644 /etc/rancher/k3s/k3s.yaml"

- name: Copy Configuration k3s dans "~/.kube"
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /root/.kube/config
    owner: root
    mode: '0600'
    remote_src: yes

- name: Export Variable KUBECONFIG
  shell:
    cmd: "export KUBECONFIG=~/.kube/config"

- name: Clone Git Repo AWX-Operator
  git:
    repo: https://github.com/ansible/awx-operator.git
    dest: "{{path_awx_tmp}}"

- name: Installation Helm Via Script
  shell:
    chdir: "{{temp_dir}}"
    cmd: "{{item}}"
  loop:
    - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    - chmod 700 get_helm.sh
    - "./get_helm.sh"

- name: Add AWX Repo & Update
  shell:
    chdir: "{{path_awx_tmp}}"
    cmd: "{{item}}"
  loop:
    - "helm repo add awx-operator https://ansible-community.github.io/awx-operator-helm/"
    - "helm repo update"
    - "helm install ansible-awx-operator awx-operator/awx-operator -n awx --create-namespace"
    
- name: Pause de 1 minutes ...
  pause:
    minutes: 1

- name: Copie des fichiers manifest Deploy & PVC
  copy:
    src: "{{ item }}"
    dest: "{{path_awx_tmp}}"
    owner: root
    group: root
    mode: '0755'
  loop:
    - pvc.yml
    - awx-deploy.yml

- name: Création Stockage PVC - Persistant
  k8s:
    state: present
    src: "{{path_awx_tmp}}/pvc.yml"
    
- name: Awx Deploiement - Operator - Web - Postgres
  k8s:
    state: present
    name: awx
    namespace: awx
    src: "{{path_awx_tmp}}/awx-deploy.yml"

- name: Pause de 5 minutes ...
  pause:
    minutes: 5

- name: AWX Operator Port
  shell: 
    cmd: kubectl get svc -l "app.kubernetes.io/managed-by=awx-operator" | grep -i NodePort
  register: awxport
- name:
  debug: msg="{{ awxport.stdout_lines }}"

- name: Ajout Aliases pour root 
  lineinfile:
    path: "/root/.bashrc"
    line: "kubectl config set-context --current --namespace=awx"
    insertafter: EOF

- name: Décodage du Mot De Passe GUI
  shell:
    cmd: kubectl get secret awx-admin-password -o jsonpath="{.data.password}" | base64 --decode
  register: awxpasswd
  ignore_errors: yes
- name: Mot de Passe GUI
  debug: msg="Mot De Passe GUI =>  {{ awxpasswd.stdout_lines}}"
  ignore_errors: yes
  notify: clean