---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
  namespace: awx
spec:
  admin_user: DcMcIx
  admin_email: karim.tabarak@dcmcix.net
  service_type: nodeport
  projects_persistence: true
  projects_storage_access_mode: ReadWriteOnce
  nodeport_port: 30080
  web_extra_volume_mounts: |
    - name: static-data
      mountPath: /var/lib/projects
  extra_volumes: |
    - name: awx-static-data
      persistentVolumeClaim:
        claimName: awx-static-data-pvc